.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader {
  z-index: 200;
  background-color: rgb(72, 80, 192);
  border-radius: 10px;
}
