body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.example-container {
  background: rgb(100, 85, 0);
  width: 100%;
  height: 100%;
}

.example-container .drag-area {
  position: fixed;
}

.picture-area {
  /*aspect-ratio: 877/620;*/
  width: 2000px;
}

.picture-motion {
  flex-basis: 0;
  width: 2000px;
}
