body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.example-container {
  background: #f8e0ba;
}

.example-container .drag-area {
  position: absolute;
}

.picture-area {
  /*aspect-ratio: 877/620;*/
  width: inherit;
}

.picture-motion {
  flex-basis: 0;
  width: 2000px;
  align-self: center;
}
